@model List<ExemploProjeto.Models.Atleta>
@{
    var modalidade = ViewBag.Modalidade;
}

<h2>Atletas da Modalidade: @modalidade</h2>

@if (!Model.Any())
{
    <p>Nenhum atleta encontrado.</p>
}
else
{
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Sexo</th>
            <th>Modalidade</th>
        </tr>
        @foreach (var a in Model)
        {
            <tr>
                <td><a href="/Edicao/Detalhes/@a.CodAtleta">@a.NomeAtleta</a></td>
                <td>@a.DataNascimento</td>
                <td>@a.Sexo</td>
                <td>@a.Modalidade</td>
            </tr>
        }
    </table>
}

<a href="/Edicao/Index">Voltar</a>